*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fruktur';
}
html
{
	scroll-behavior: smooth;
}
body
{
	background-color: #252627;
}
.container
{
	padding: 0 100px 0 100px;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<MENU BAR STYLE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.menu-bar
{
	color: #707070;
  position: absolute;
  top: 0;
  margin-top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  transition: 1s;
  /*transform: translateY(-100%);*/

}
.menu-bar ul
{
  display: flex;

  margin: 0;
  padding: 0;
  float: right;

}

.menu-bar ul li
{
  list-style: none;

}

.menu-bar ul li a
{
	font-family: 'Pacifico',cursive;
  color: #707070;
  line-height: 60px;
  /*font-family: sans-serif;*/
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 20px;
  display: block;
  text-decoration: none;
  border-right: 1px solid rgba(0,0,0,.1);
  transition-property: font-family ,background;
  transition-delay: 3s ease-in-out;
  /*animation-name: myanime;*/
}

.menu-bar ul li a:hover
{
/*transition-property: text-decoration;*/
  /*transition-delay: 2s;*/
  background: #262626;
  color: #fff;
  text-decoration: line-through;
  font-family: 'Akronim',cursive;


}
@keyframes myanime
{
	from{
		width: 0;

	}
	.menu-bar ul li a:hover
	{
		text-decoration: line-through;
	}

}

.menu-bar ul li:last-child a
{
  border-right: none;
}

.main-info-section
{
	height: calc(100vh - 81.6px);


}
.text{
	margin-top: 120px;
}
.text h1
{
	color: #fff;
	font-size: 3rem;
	cursor: context-menu;
}
.text span
{
	display: inline-block;
}
span:hover{
	color: #48cfad;
	transition: all .5s;
}
span.name{
	color: #ED5565;
}
span.m-left
{
	margin-left: -10px;
}
.text p{
	letter-spacing: 3px;
	word-spacing: 7px;
	font-size: .8rem;
}
.text a{
	padding: 12px 25px;
	background-color: none;
	border: 3px solid #ED5565;
	font-size: .8rem;
	letter-spacing: 2px;
	position: relative;
	top: 80px;
	overflow: hidden;
	transition: .5s;
	display: inline-block;
}
.text a:hover
{
	color: #fff;
}
.text 1::before{
	content: '';
	background-color:#ED5565;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: -1;
	transition: .5s;
}
.text a:hover::before{
	height: 100%;
}
.Social
{
	position: relative;
	/*display: flex;*/
	top: -130px;
	justify-content: center;
	align-items: center;
	background-image: url(../images/—Pngtree—pure watercolor gradient colorful background_964413.jpg);
	/*height: 400px;*/
}
.Social-icons
{

	/*max-width: 500px;*/
	width: 100%;
	height: 100px;
	background: #170816;
	box-shadow: 0 0 1.2rem rgba(126, 38, 167, 0.25);
	padding-left: 60px;
	padding-top: 20px;
	position: relative;
	display: inline-block;
	/*top: -70px;*/
	left: 50%;
	right: 10%;
	transform: translateX(-50%);
	z-index: 1;
	border-radius: 30px; 
	color: #fff;

}
/*#icon1:hover
{
	height: 60px;
	width: 70px;
	box-shadow: 0 0 1.2rem rgba(126, 38, 167, 0.25);
}*/
.Social-icons ul li
{
	display: inline-block;
	position: relative;
	/*float: left;*/
	justify-content: center;
	align-items: center;
	/*margin-top: 0px;*/
	padding-left: 30px;
	left: 50%;
	right: 50%;
	transform: translateX(-40%);
}
/*.Social h1
{
	z-index: -1;
	margin-top: -200px;
}*/
#dd
{
	padding-left: 150px;  

}
.Social ul li a img
{
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 48px;

	display: inline-block;
	/*padding-left: 10px 0;*/

}
.box {
	background: none; 
	position: relative;
	display: flex;
	width: 350px;
	margin-right: 50px;
	margin-top: -280px;
	height: 300px;
	float: right;
	background: #fff;
	border-radius: 70%;
	/*border-top: 5px solid #100e17;*/
	/*border-bottom: 5px solid #100e17;*/
	/*padding: 10px 10px 10px 10px;*/
}
.box img 
{
	width: 350px;
	height: 300px;
	border-radius: 70%;
	/*box-shadow: 0 0 1.2rem green;*/
	border-top: 5px solid #100e17;
	border-bottom: 5px solid #100e17;
	transition: all 0.5s ease 0s;
	padding: 10px 10px 10px 10px;
	/*animation-name:  2s ease-in-out;*/
}
.box img:hover , .box:hover, #conta:hover
{
	border-top-color: #100e17;
	border-bottom-color: #100e17;
	animation: ak 2s ease-in-out;
	/*animation-delay:2s;*/
	animation-iteration-count: infinite;
}
@keyframes ak
{
	0%,
	100%
	{
		border-radius: 50% 50% 0 50%;
		border-top-color: #f8008c;
		border-bottom-color: #64c00d;
	}
	25%
	{
		border-radius: 50% 0% 50 50%;
		border-top-color: #f0cc00;
		border-bottom-color: #c00d2b;
	}
	50%
	{
		border-radius: 0% 50% 50% 50%;
		border-top-color: #f8008c;
		border-bottom-color: #64c00d;
	}
	75%
	{
		border-radius: 50% 50% 50 0;
		border-top-color: #f0cc00;
		border-bottom-color: #c00d2b;
	}
	65%
	{
		border-radius: 0% 50% 0 50%;
		border-top-color: #1CE7BF;
		border-bottom-color: #E030D5;
	}

}
}
.about{
	height: 500px;
	top: -230px;
}

.about h1,
.work h1,
.Social h1{
	font-family: 'Akronim', cursive;
	font-size: 10rem;
	z-index: 0;
	opacity: .1;
	color: #338A5C;
	/*margin-top: -90px;*/
}
.about-me-info
{
	max-width: 900px;
	background-color: #252627;
	box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
	padding: 20px;
	position: relative;
	top: -30px;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	z-index: 1;
}
.about-me-info p{
	font-family: 'Amarante', cursive;
	font-size: 1.3rem;
	color: #BEBEBE;
}
/*.about-me-info:hover{
	background-color: #7E26A7;
}
.about-me-info p:hover
{
	/*background: none;*/
	/*color: #0A3848;*/
/*}*/
.about-me-info p:nth-child(2),
.about-me-info p:last-child
{
	margin-top: 20px;
}
.about img{
	width: 300px;
	height: 200px;
	position: relative;
	top: -200px;
	left: calc(100% - 100px);
	right: calc(100% - 100px);
	transform: translateX(calc(-100% + 90px));
}

.skills{
	margin-top: -180px;
	height: 100vh;
	margin-bottom: 80px;

}

.skills h1,
.contact h1{
	text-align: right;
	font-size: 10rem;
	opacity: .1;
	color: #29C9BC;
}
.skills-info{
	margin-top: 10px;
	max-width: 900px;
	max-height: 600px;
	/*height: 300px;*/
	background-color: #0A3848;
	box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
	padding: 20px;
	position: relative;
	top: -70px;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	z-index: 1;

}
.skills-info p
{
	font-family: 'Amarante', cursive;
	font-size: 1.2rem;
	letter-spacing: 2px;
	word-spacing: 5px;
	color: #BABDB6;
	padding-bottom: 10px;
}

.work
{
	margin-top: 30px;
}
.work-category
{
	padding-right: 15px;

}

.work-category button
{
	text-transform: capitalize;
	border: 3px solid #ED5565;
	padding: 15px 30px;
	border-radius: 50px;
	color: #ED5565;
	font-size: 1.1rem;
	letter-spacing: 1px;
	background-color: #252627;
	outline: none;
	cursor: pointer;
}
div[class^='category-']
{
	margin-top: 50px;
	display: none;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 20px;
}
.work-category .active
{
	color: #ED5565;
}
.work a img{
	width: 350px;
	justify-self: center;
}
div.hidecategory{
	display: none;
}
.showcategory{
	display: none;
}

.work a
{
	justify-self:center;
	position: relative;
	display: inline-block;
}
button.active
{
	color: #fff;
}
div.hidecategory{
	display: none;
}
.showcategory{
	display: none;
}
.category-designing,
.category-animation,
.category-project
{
	display: none;
}

/*<<<<<<<<<<<<<<<<<<<<<<<contact and footer>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
form input,
form textarea
{
	display: block;
	width: 500px;
	padding: 20px;
	background-color: #252627;
	border: 3px solid #707070;
	margin: 10px 0;
	outline: none;
	font-size: 1.2rem;
	color: #fff;
	position: relative;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
}
form input:last-child{
	width: 150px;
	background-color: #ED5565;
	border: none;
	cursor: pointer;
}
footer hr{
	border: 2px solid #707070;
	margin-top: 20px;
}
footer p{
	text-align: left;
	color: #707070;
	font-size: 1.2rem;
	padding: 20px 0;
}
.submit-q
{
	border-radius: 25px;
}





/*<<<<<<<<<<<<<<<<<<<<<<<REPOSIVE PART FOR MOBILE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


@media screen and (max-width: 780px)
{
	#primary {width: 67%; }
	#secondary{ width: 30%; margin-left: 3%; }
	
	/*	body
	{
		margin: 0;
		display: table-column;
		background-color: #242526;
	}*/
	.container
	{
		padding: 0 50px 0 50px;
	}
		.menu
	{
	  position: relative;
	  top: 0;
	  left: 0;
	  width: 60px;
	  height: 60px;
	  /*background: #fff;*/
	  cursor: pointer;
	  z-index: 1;
	  box-sizing: border-box;
	  border-right: 1px solid rgba(0,0,0,.1);
	  animation-name: keyanime;
	  animation-duration: 8s;
	  animation-delay: 4s;
	  animation-iteration-count: infinite;

	}
	/*@keyframes keyanime
	{
		10%{
			background: green;
		}
		20%{
			background: yellow;
		}

	}*/
	.menu.active
	{
		/*border:2px solid black;*/
	}

	.menu span
	{
	  position: absolute;
	  width: 30px;
	  height: 2px;
	  background: #fff;
	  display: block;
	  top: calc(50% - 1px);
	  left: calc(50% - 15px);
	  transition: 0.5s;
	}

	.menu span:nth-child(1)
	{
	  transform: translateY(-10px);
	}

	.menu span:nth-child(3)
	{
	  transform: translateY(10px);
	}

	.menu.active span:nth-child(1)
	{
	  transform: translateY(0px) rotate(-45deg);
	}

	.menu.active span:nth-child(3)
	{
	  transform: translateY(0px) rotate(45deg);
	}

	.menu.active span:nth-child(2)
	{
	  transform: translateY(-30px);
	  opacity: 0;
	}


	.menu-bar
	{
	  position: relative;
	  z-index: 1;
	  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
	  top: 0;
	  left: 0;
	  width: 80%;
	  height: 50%;
	  background: #252627;
	  transition: 2s;
	  transform: translateX(-100%);

	}
	.menu-bar.active
	{
	  transform: translateY(0px);
	  /*border:2px solid black;*/
	  z-index: 1;


	}


	.menu-bar ul
	{
		background-color: #252627;
	  	display: inherit;
	    float: none;
	    text-align: center;
	    width: 100%;
	    height: 100vh;

	}

	.menu-bar ul li
	{
	  list-style: none;

	}

	.menu-bar ul li a
	{
	  color: #fff;
	  line-height: 40px;
	  font-family: sans-serif;
	  text-transform: uppercase;
	  font-weight: bold;
	  /*padding: 0 ;*/
	  display: block;
	  text-decoration: none;
	  cursor: crosshair;
	  /*border-right: 1px solid rgba(0,0,0,.1);*/
	}
	.menu-bar ul li a:hover
	{
		cursor: pointer;
		color: green;
		background-color: white;
	}

	/*.menu-bar ul li a:hover
	{
	  background: #262626;
	  color: #fff;
	  text-decoration: line-through;

	}
	*/
	.menu-bar ul li:last-child a
	{
	  border-right: none;
	}
	.main-info-section
	{
		margin-top: -400px;
			padding-bottom: -100px;
	}
	.main-info-section .text h1
	{
		font-size: 1.22rem;
		word-spacing: 6px;
		font-family:  'Pacifico',cursive;

	}
	.text a
	{
		/* margin-top: -300px; */
		top: 10px;
		overflow: scroll;
		padding: 8px 15px;
		border-radius: 25px;

		/*float: left;*/
		/*position: relative;*/
	}
	
	.Social-icons
	{
		width: 100%;
		background-color:  #2E3436;
		z-index: 1;
		justify-content: center;
		align-items: center;
		position: absolute;
		display: inline-block;

		/*left: 10%;
		right: 0;*/
	}
	/*.Social-icons ul
	{
		left: 0;
	}*/
	.Social-icons ul li
	{
		position: relative;
		left: 0;
		top: 0;
		padding: 0px 20px;
	}
	#git
	{
		opacity: 0;
	}
	#gitcon
	{
		right: -20px;
		padding-left: 15px;
		padding-top: 2px;
	}
	.Social
	{
		margin-top: -200px;
	}
	.Social-icons ul li a 
	{
		top: 0;
		/*right: -20;*/
		position: absolute;
		display: inline-block;
		float: none;
		padding-left: 60px;
		/*padding: 10px 10px 10px 10px;*/

	}
	.Social ul li a img
{
	/*left: -100px;*/
	/*justify-content: center;
	align-items: center;*/
	width: 40px;
	height: 38px;

	/*display: inline-block;*/
	/*padding-left: 10px 0;*/

}
	.profile-img .box
	{
		justify-content: center;
		align-items: center;
		/*background-color: yellow;*/
		top: -650px;
		position: absolute;
		display: flex;
		width: 70%;
		height: 50%;
		float: none;
		margin-top: 700px;
	}
	.profile-img .box img
	{

	}

	.about h1,
	.work h1
	{
		font-size: 5rem;
		z-index: 0;
		opacity: .1;
	}
	.about-me-info,
	.skills-info
	{
		width: 100%;
		transform: translateX(-60%);
		top: -30px;
		z-index: 1;
	}
	.about-me-info p,
	.skills-info p
	{
		font-size: .88rem;
	}
	.about-me-info p:nth-child(2),
	.about-me-info p:last-child
	{
		margin-top: 10px;
	}
	.about img
	{
		/*display: none;*/
		width: 220px;
		height: 200px;
		top:-180px;
		left: calc(100% - 100px);
		right: calc(100% - 100px);
		transform: translateX(calc(-100% + 90px));
	}
	.skills{
		height: 30vh;
		top: -100px;
		margin-bottom: 450px;
	}
	.min-hide{
		opacity: 0;
	}
	.skills h1,
	.contact h1,
	.Social h1
	{
		font-size: 5rem;
		opacity: .1;
	}
	.skills-info
	{
		font-size: .5rem;
	}
	.work
	{
		top: 200px;
	}
	.work-category
	{
		padding: 10px 10px;
	}
	.work-category button
	{
		padding: 10px 10px;
		font-size: .8rem;
		display: inline-block;
		position: relative;

	}
	.work a
	{
		padding: 10px 10px;
		left: 0;
		display: inline-block;
		position: relative;
	}
	#coro
	{
		z-index: 1;
		box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.25);
		font-size: 5rem;
		margin-top: 20px;
	}
	footer p
	{
		font-size: .8rem;
		text-align: center;
		line-height: 1px;
	}

}
