@font-face
{
	font-family: Pacifico;
	src: url('./Pacifico/Pacifico-Regular.ttf');
}
@font-face
{
	font-family: Fruktur;
	src: url('./Fruktur/Fruktur-Regular.ttf');
}

@font-face
{
	font-family: Akronim;
	src: url('./Fruktur/Akronim-Regular.ttf');
}
/*Amarante-Regular.ttf*/
@font-face
{
	font-family: Amarante;
	src: url('./Fruktur/Amarante-Regular.ttf');
}

/*Aladin-Regular.ttf*/
@font-face
{
	font-family: Amarante;
	src: url('./Fruktur/Aladin-Regular.ttf');
}
/*UnifrakturCook-Bold.ttf*/
@font-face
{
	font-family: UnifrakturCook;
	src: url('./Fruktur/UnifrakturCook-Bold.ttf');
}
